.menubar {
  background: #00AAFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.menubar > div {
  text-decoration: none;
  padding: 15px;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}
.menubar > div~div:hover  {
  transition: background 0.2s;
  background: rgb(20,190,255);
}
div.home {
  color: #00AAFF;
  background: white;
}
